@font-face {
    font-family: "poppins";
    src: url(https://mocossi.com/static/media/poppins-v19-latin-regular.405055dd680fa1dcdfa2.woff2);
    font-weight: normal;
    font-style: normal;
  }

  @font-face{
    font-family: "iCiel Cadena";
    src: url(https://mocossi.com/static/media/iCielCadena.9fcadc62c26455ae12b2.woff2);
    font-weight: normal;
    font-style: normal;
  }

  @font-face{
    font-family: "Quicksand";
    src: url(https://mocossi.com/static/media/Quicksand-SemiBold.666d74ece0f5d87520aa.woff2);
    font-weight: normal;
    font-style: normal;
  }